<h3>
  Crie seu desejo
</h3>
<p>
  <label> Nome: </label> <input type="text" name ="descricao"  [(ngModel)]="wish.descricao">
</p>
<p>
  <label> localOrigem: </label> <input type="text" name ="localOrigem" [(ngModel)]="wish.localOrigem">
</p>

<p>
  <label> localDestino: </label> <input type="text" name ="localDestino" [(ngModel)]="wish.localDestino">
</p>

<p>
  <label> dataIda: </label> <input type="text" name ="dataIda" [(ngModel)]="wish.dataIda" >
</p>

<p>
  <label> dataVolta: </label> <input type="text" name ="dataVolta" [(ngModel)]="wish.dataVolta">
</p>

<p>
  <label> cotacaoAtual: </label> <input type="text" name ="cotacaoAtual" [(ngModel)]="wish.cotacaoAtual">
</p>

